{% extends 'layouts/base.html' %}

{% block content %}
    <h1>Julian Lobon - dev</h1>
    <div class="about">
        <img src="https://picsum.photos/300/350">
        <div class="about-content">
            <h3>Lorem ipsum dolor sit </h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Provident sint ducimus inventore dolore impedit asperiores error! Vel doloremque officiis quo vero veniam eum autem. Assumenda quidem accusantium quod beatae sunt.</p>
        </div>
    </div>
{% endblock content %}