input{
    outline: none;
    box-shadow: none;
    border: 1px solid var(--color-text);
    padding: 5px;
}
.btn-wrapper{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.btn-send{
    width: 80%;
    background-color: var(--color-primary);
    padding: 5px;
    color: #fafafa;
    text-transform: uppercase;
    cursor: pointer;
    border: 0;
}

.aux-btns-form {
    width: 50%;
    display: flex;
    justify-content: flex-start;
    margin: 15px;
}

.aux-btns-form a {
    padding-right: 10px;
    text-decoration: none;
}