<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hola rola </h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit laudantium suscipit facere praesentium, veniam quia est vero laborum, iure deleniti neque. Nesciunt inventore dolorem ducimus omnis, modi perspiciatis distinctio excepturi.</p>
    <a href="#">soy un enlace</a>
</body>
</html>