{% load static %}
<footer>
    <img src="{% static 'img/logo.png' %}" width="128px"/>
    <ul>
        <li>
            <a href="https://www.flaticon.com/free-icons/letter-j" title="letter j icons">Letter j icons created by arnikahossain - Flaticon</a>
        </li>
        <li>
            <a href="https://www.flaticon.com/free-icons/letter-j" title="letter j icons">Letter j icons created by arnikahossain - Flaticon</a>
        </li>
        <li>
            <a href="https://www.flaticon.com/free-icons/letter-j" title="letter j icons">Letter j icons created by arnikahossain - Flaticon</a>
        </li>
    </ul>
    <ul>
        <li><a href="{% url 'index' %}">Inicio</a></li>
        <li><a href="{% url 'portafolio' %}">Portafolio</a></li>
        <li><a href="https://github.com">Github</a></li>
    </ul>
    <ul>
        <li><a href="https://www.flaticon.com/free-icons/letter-j" title="letter j icons">Flaticon</a></li>
        <li>
            <a href="https://www.flaticon.com/free-icons/letter-j" title="letter j icons">Letter j icons created by arnikahossain - Flaticon</a>
        </li>
        <li>
            <a href="https://www.flaticon.com/free-icons/letter-j" title="letter j icons">Letter j icons created by arnikahossain - Flaticon</a>
        </li>
    </ul>

</footer>